<div class="row">

[% IF !(backend_menu) %]
                [% PROCESS src/User/login.tt %]

        [% END %]


</div>

 [% IF (backend_menu) %]


<p> </p>

              <p class="text-center"> License Payment Register is a open source application under GPLv3 license. It is used to record the payment of licenses in  a license organization.   </p>


        [% END %]

